absl-py 
aiohttp 
aiosignal 
astor==0.8.1
astunparse==1.6.3
async-timeout 
asynctest==0.13.0
attrs 
backcall 
backports.functools-lru-cache 
blinker==1.4
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi==2022.12.7
cffi 
charset-normalizer 
click 
colorama 
cryptography 
cycler==0.11.0
debugpy 
decorator 
docopt==0.6.2
entrypoints 
flatbuffers 
flit_core 
fonttools==4.38.0
frozenlist 
gast 
google-auth 
google-auth-oauthlib==0.4.1
google-pasta 
grpcio 
h5py 
idna 
importlib-metadata 
ipykernel 
ipython 
jedi 
joblib==1.2.0
jupyter_client 
jupyter_core 
keras==2.6.0
Keras-Preprocessing 
kiwisolver==1.4.4
Markdown 
MarkupSafe 
matplotlib==3.5.3
matplotlib-inline 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
multidict 
nest-asyncio 
numexpr 
numpy 
oauthlib 
opt-einsum 
packaging 
pandas 
parso 
pickleshare 
Pillow==9.4.0
pipreqs==0.4.11
prompt-toolkit 
protobuf==3.17.2
psutil 
py-lets-be-rational==1.0.1
py-vollib==1.0.1
pyasn1 
pyasn1-modules==0.2.8
pycparser 
Pygments 
PyJWT 
pyOpenSSL 
pyparsing==3.0.9
PySocks 
python-dateutil 
pytz 
pywin32==227
pyzmq 
QuantLib==1.28
requests 
requests-oauthlib==1.3.0
rsa 
scikit-learn==1.0.2
scipy 
seaborn==0.12.2
simplejson==3.18.1
six 
sklearn==0.0.post1
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow==2.6.0
tensorflow-estimator 
termcolor 
threadpoolctl==3.1.0
tornado 
tqdm==4.64.1
traitlets 
typing_extensions 
urllib3 
wcwidth 
Werkzeug 
win-inet-pton 
wincertstore==0.2
wrapt 
yarg==0.1.9
yarl 
zipp 
